.sidebar-container{
    position: fixed;
    background-color: white;
    min-height: 95vh;
    width:250px;
    margin: 12px 25px;
    border-radius: 8px;
}
.sidebar-container > div{
    width: 250px;
}

.logo{
    margin-top: 12px;
    margin-left: 14px;
}
.list_style{
    cursor: pointer;
    color:#07428f;
    font-weight: 500;
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.list_style_form{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.list_item{
    color: #07428f;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0.5vmax;
}

.list_item:hover{
    background-color: #e5f2f9;
    border-radius: 8px;
}
.img_style{
    display: flex;
    text-align:center;
    justify-content:space-evenly;
}
.sidebar-icon {
    transform: scale(1vmax);   
}
.img_style > span {
    margin-left: 1.5vmax;
}

@media screen and (max-width: 800px){
    .img_style > span {
        margin-left: 1.7vmax;
    }
    .sidebar-container > div{
        width: 100%;
        margin-left: 1vmax;
    }
    .sidebar-container{
        width:30vmax;
        font-size: 2vmax;
    }

}

@media screen and (max-width: 520px){
    .sidebar-container{
        margin-left: 0vmax;
        width:20vmax;
        font-size: 1.5vmax;
    }
    .logo{
        width:15vmax;
    }
    .sidebar-icon {
        margin-left: 0; 
        transform: scale(0.9);  
    }
    .list_item{
        margin-left: -2vmax;
    }
}